.paginationV {
    align-items: center;
    display: flex;
    justify-content: left;
    text-align: left;
    margin-top: 1rem;
}

.paginationV .disabled > a {
    background: #f0eeee;
    color: #333;
}

.paginationV > li {
    display: inline;
        outline: none;
}

.paginationV > li:first-child > a, .paginationV > li:first-child > span {
    margin-left: 0;
   /** border-top-left-radius: 4px; 
    border-bottom-left-radius: 4px; */
}
.paginationV > li > a, .paginationV > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
        outline: none;
}
.paginationV > .active > a, .pagination > .active > span, .paginationV > .active > a:hover, .paginationV > .active > span:hover, .paginationV > .active > a:focus, .paginationV > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
        outline: none;
}
.paginationV > li > a:hover, .paginationV > li > span:hover, .paginationV > li > a:focus, .paginationV > li > span:focus {
    z-index: 3;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}


@media screen and (min-width: 1024px){
.chart-div{
min-width: 255px;
height: 200px;
max-width:428px;
}
}

@media screen and (min-width: 1208px){
.chart-div{
min-width: 255px; 
height: 200px;
max-width:532px;
}
}
@media screen and (min-width: 1408px){
.chart-div{
min-width: 255px; 
height: 200px;
max-width:628px;
}
}
.chart-div{
min-width: 255px; 
height: 200px;
}
.elevator-button {
display:none;
    right: 10px;
    bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum","tnum";
    position: fixed;
    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.ant-back-top-content, .ant-back-top-content:hover {
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.ant-back-top-content {
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,.45);
    border-radius: 20px;
}
.ant-back-top-icon {
    width: 14px;
    height: 16px;
    margin: 12px auto;
    
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAoCAYAAACWwljjAAAABGdBTUEAALGPC/xhBQAAAbtJREFUWAntmMtKw0AUhhMvS5cuxILgQlRUpIggIoKIIoigG1eC+AA+jo+i6FIXBfeuXIgoeKVeitVWJX5HWhhDksnUpp3FDPyZk3Nm5nycmZKkXhAEOXSA3lG7muTeRzmfy6HneUvIhnYkQK+Q9NhAA0Opg0vBEhjBKHiyb8iGMyQMOYuK41BcBSypAL+MYXSKjtFAW7EAGEO3qN4uMQbbAkXiSfRQJ1H6a+yhlkKRcAoVFYiweYNjtCVQJJpBz2GCiPt7fBOZQpFgDpUikse5HgnkM4Fi4QX0Fpc5wf9EbLqpUCy4jMoJSXWhFwbMNgWKhVbRhy5jirhs9fy/oFhgHVVTJEs7RLZ8sSEoJm6iz7SZDMbJ+/OKERQTttCXQRLToRUmrKWCYuA2+jbN0MB4OQobYShfdTCgn/sL1K36M7TLrN3n+758aPy2rrpR6+/od5E8tf/A1uLS9aId5T7J3CNYihkQ4D9PiMdMC7mp4rjB9kjFjZp8BlnVHJBuO1yFXIV0FdDF3RlyFdJVQBdv5AxVdIsq8apiZ2PyYO1EVykesGfZEESsCkweyR8MUW+V8uJ1gkYipmpdP1pm2aJVPEGzAAAAAElFTkSuQmCC) 100%/100% no-repeat;
}


.card div:hover {
    background-color: #f8f8f8;
}

.theme-color-footer-hr{
    background-color: #6c757e;
}
.theme-color{
    /** background-color: #6c757e;*/
    background-color: #3273dc;
}

.theme-color-font{
    /** color: #6c757e; */
    color:#3273dc;
}
::selection {
    background-color: #3498db;
    color: #fff;
}
.button.theme-color.is-outlined {
    background-color: transparent;
    /**
    border-color: #6c757e;
    color: #6c757e;
    */
    border-color: #3273dc;
    color: #3273dc;
}
.button.theme-color {
    /** background-color: #6c757e;
    border-color: #6c757e; */
    background-color: #3273dc;
    border-color: #3273dc;
    color: #ffffff;
}
.button.theme-color.is-active, .button.theme-color:active {
    /** background-color: #c5ccd3;
    border-color: #c5ccd3; */
    background-color: #4e88e6;
    border-color: #4e88e6;
    color: #ffffff;
}
.button.theme-color.is-outlined.is-focused, .button.theme-color.is-outlined.is-hovered, .button.theme-color.is-outlined:focus, .button.theme-color:hover {
    /** background-color: #c5ccd3;
    border-color: #c5ccd3; */
    background-color: #4e88e6;
    border-color: #4e88e6;
    color: #fff;
}
.navbar-link:not(.is-arrowless)::after {
    /** border-color: #6c757e; */
    border-color: #3273dc;
    margin-top: -.375em;
    right: 1.125em;
}